* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f4f6f8;
  color: #222;
  line-height: 1.6;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  background-image: linear-gradient(282deg, rgb(97,120,253), rgb(1,22,37));
  color: white;
}

.logo {
  color: rgb(174,174,254);
}

.logo-img {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin-right: 8px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: black;
}


.search-box input {
  padding: 0.9rem 0.9rem;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 250px;
  font-size: 0.9rem;
 
}


.home-banner {
  height: 60vh;
  background: url('https://images.unsplash.com/photo-1731952161718-d645308c05bf') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.home-banner h2 {
  font-size: 3rem;
  text-align: center;
}


section {
  max-width: 1100px;
  margin: auto;
  padding: 3rem 2rem;
}

section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0569da;
}


.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 2rem;
}

.about img {
  width: 100%;
  border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 1.5rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}


.offers {
  background: #e8f1ff;
  padding: 2rem;
  border-left: 6px solid #00509d;
  text-align: center;
  border-radius: 8px;
}


form {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid rgb(57, 53, 53);
  border-radius: 6px;
}

form button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  background: #007df2;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
form button:hover {
  background: #005bb5;
}


footer {
  background-image: linear-gradient(282deg, rgb(97,120,253), rgb(1,22,37));
  color: white;
  text-align: center;
  padding: 2.5rem;
  margin-top: 3rem;
}


@media (max-width: 768px) {
  header {
    gap: 1rem;
  }

  .search-box input {
    width: 100%;
  }

  .home-banner h2 {
    font-size: 1.8rem;
  }
}
